body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    /* background-color: #46b2f0; */
}

table{
    margin: 0 auto;
} 

.mainbox{
    margin-top: 100px;
}

.botoes{
    margin-top: 30px;
}

button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

#btn-aluno{
    background-color: #4CAF50; 
}

#btn-aluno:hover{
    background-color: #3c8c40;
}

#btn-resp{
    background-color: #008CBA;
}

#btn-resp:hover{
    background-color: #027296;
}

#btn-prof{
    background-color: #f44336;
}

#btn-prof:hover{
    background-color: #a82e25;
}